body {
    margin: 0;
    height: 500px;
    width: 500px;
}

p {
    margin: 0;
    padding: 0;
}
.title {
    color: rgb(108, 214, 223);
}
.chat {
 
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-manage {
    display: flex;
    margin-bottom: 10px;
}

.btn-send {
    margin: 0 10px;
}

.chat-input {
    flex-grow: 1;
    height: 30px;
    border: solid 3px rgb(127, 213, 235);
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
}

.btn {
    padding: 0 20px;
    background-color: rgb(100, 205, 237);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(134, 197, 228);
}

.chat-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: solid 3px rgb(100, 212, 237);
    border-radius: 10px;
    height: auto;
}

.message {
    border: solid 3px rgb(100, 210, 237);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: fit-content;
    word-wrap: break-word;
}

.message-in {
    align-self: flex-start;
}